@font-face {
  font-family: 'JapanFont';
  src: url('./assets/fonts/SAKURATA.woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,700&display=swap');

:root {
  --container-padding: "6rem";
  /* 40px */
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  /* overflow: hidden; */
  overflow-x: hidden;
}

.content {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.bg-image {
  background-image: url(./assets/images/Image.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40vw;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.45);
  padding: 1rem;
  gap: 2rem;
  position: relative;
  top: 20vh;
}

.header h1 {
  font-family: JapanFont;
  color: #eee ;
  font-size: 3rem;
}

section {
  background-color: #f9fafb;;
}

.heading,
.form,
.bottom-page {
  padding: 2rem 2.5rem;
  width: 100%;
}

.heading-text {
  font-weight: 700;
  font-size: 1.2rem;
  max-width: 70ch;
}

.heading {
  margin-top: 2.2rem;
}

.form {
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.3);
  background-color: #fff;
}

fieldset {
  border: 1px solid #fff;
  display: flex;
  flex-wrap: wrap;
}

fieldset legend {
  color: #1F2937;
  font-size: 1.5rem;
  font-weight: 700;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-right: 4.5rem;
  margin-top: 1.5rem;
}

.input-box label {
  color: #1F2937;
  font-weight: 600;
  font-size: 0.8rem;
  margin-bottom: 1px;
}

.input-box input {
  border: 1px solid #E5E7EB;
  border-radius: 5px;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.input-box input:focus-visible,
.input-box input:focus {
  border: none;
  outline: 2px solid #1D4ED8;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.3);
}

.invalid-color {
  border: none;
  outline: 1px solid #C8102E;
}

.bottom-page {
  font-size: 0.9rem;
}

.bottom-page button {
  background-color: #C8102E;
  font-weight: bold;
  color: white;
  border: 1px solid #f9fafb;
  border-radius: 5px;
  padding: 0.7rem 1.8rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.bottom-page .login {

}

.bottom-page .login a {
  color: #C8102E;
  font-weight: 600;
  text-decoration: none;
}